:root{
    --bg-color:#05161a;
    --second-bg-color: #072e33;
    --text-color:#0c7075;
    --main-color:#0F9690;
    --p-color:#d1e9de;
}
html{
    
    overflow-x: hidden;
}
body.custom-color{
    background:var(--bg-color);
    color:var(--p-color);
  
}
header{
    position: fixed;
    top: o;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
    background:var(--text-color);
}

.header.sticky {
    background: var(--main-color);
}
*{
     margin: o;
     padding: o;
}

.navbar-brand img
{
    width: 35px;
}
.navbar-toggler img{
   
    width: 30px;
    outline: 0 !important;
    
}
.nav-item a{
    color: rgb(243, 77, 6);
    font-weight: 700;
    font-size: medium;
    
}
section{
    min-height: 100vh;
    padding: 9rem 9% 2rem;
}
.home{
    display: flex;
    align-items: center;
    padding: 0 9%;   
    background: url(jj.png);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: right;
    
}
.home-content h4{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content .text-animated{
    position: relative;
    width: 32.8rem;
}
.home-content .text-animated h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px rgb(222, 110, 12);
}
.home-content p{
    font-size: 1.6rem;
    margin: 2rem 0 4rem;

}
.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 10.5rem;
    height: 2rem;
    margin-bottom: 20px;
}
.btn-box .btn{
    padding: 5px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 3rem;
    background: var(--text-color);
    border: .2rem;
    border-radius: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
   
}
.btn-box .btn::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .7s;
}
.btn-box .btn:hover::before {
    width: 100%;
}
.custom-icon-size {
        position: absolute;
        bottom: 4rem;
        width: 170px;
        display: flex;
        justify-content: space-between;
    }
    
.custom-icon-size a{
        margin-right: 10px;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: none;
        border-radius: none;
        color: var(--main-color);
}
.custom-icon-size img{
    
            width: 45px;
            height: auto;
            border-radius:50% ;
            display: inline;
            justify-content: space-between;
            background-color: #05161a;
            margin: 20px;
     
 }
 .about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    
 }
 .heading{
    font-size: 5rem;
    text-align: center;
  span{
     color: rgb(246, 21, 21);
  }
 }
 .about-img{
   position: relative;
   width: 15rem;
   height: 15rem;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .about-img img{
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: .10rem solid var(--main-color);
 }
 .about-img img { 
    position: absolute;
    transition: (-50%, -50%) rotate(0);
    border-radius: 50%;
    border-top: .2rem solid  aqua;
    border-bottom: .4rem solid  rgb(248, 98, 5);
    border-left: .2rem solid var(--text-color);
    border-right: .2rem solid var(--text-color);
 }
.about-content{
  text-align: center;

}
.about-content h3{
    font-size: 2.6rem;

}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.btn-box.btns{
    display: inline-block;
    width: 15rem;
}
.btn-box.btns a::before{
    background: var(--second-bg-color);
}
.education{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding: 10rem;
}
 .education.education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
 }
 .education-row .education-column{
    flex: 1 1 40rem;
 }
 .education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
 }
.education-column .education-box{
    border-left: .2rem solid aqua;
}
.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}
/*design dot*/
.education-box .education-content::before{
    content:'';
    position: absolute;
    top:0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background:aqua;
    border-radius: 50%;

}
.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid rgb(229, 12, 12);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
 .education-content .content::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(119, 5, 5);
    z-index: -1;  
    transition: .5s;
}
.education-content .content:hover::before{
    width: 100%;
}
.education-content .content .year i{
    padding-right: .5rem;
}
.education-content .content h3{
    font-size: 2rem;
}
.education-content .content p{
    font-size: 1rem;
    padding: .4rem;
    /*updating skillss*/
}
.contact{
    min-height: auto;
    padding-bottom: auto;
   
}
.contact form{
    max-width: 70rem;
    margin: auto;
    text-align:center;

}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;

}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);

}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);
}
.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(7, 52, 77);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{

    width: 100%;
}
.contact form .textarea-field{

  position: relative;
  margin: .8rem 0 2.7rem;
  display: flex;

}
.contact form .textarea-field textarea{
    resize: none;

}
.contact form .btn-box.btns .btn{
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);

}
.footer-iconTop {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .9rem;
    background: var(--text-color);
    border-radius: .5rem;
    margin: 10px;

}
.Smedia a{
    position: relative;
    display: inline-flex;
    display: inline-flex;
    padding: .9rem;
    background: var(--text-color);
    border-radius: .5rem;
    float: right;
    margin: 10px;
}

/* media querry*/
@media (max-width : 1800px){
    html{
        font-size: 55%;
    }
}
@media (max-width : 1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width : 991px)


{
.header{
    padding:2rem 4%;
}
section{
    padding: 10rem 4% 2rem;
}
.home{
    padding:0 4%;
}
.footer{
    padding: 2rem 4%;
}
}



@media (max-width : 768px) 
{
html{
font-size: 55%;

}

section{
    padding: 10rem 4% 2rem;
}
.home{
    padding:0 4%;
}
.footer{
    padding: 2rem 4%;
}

}
@media(max-width :520px)
{
html{
    font-size: 50%;
    height: 38px;
}
}
@media (max-width :462px)
{
.home-content{
    font-size: 5.2rem;
}
.education{
    padding: 10rem 4% 5rem 5%;
}
.contact form .input-box .input-field {
    width: 100%;

}

.footer{
    flex-direction: column-reverse;

}
.footer p{
    margin-top: 2rem;
}
}
@media  (max-width :371px){
    .home {
        justify-content: center;
    }
    .home-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

    }
    .home-content h1{
        font-size: 5rem;
    }
    .custom-icon-size a{
    
        display: block;    
    }
    .home .home-content{
        margin-bottom: 3rem;
    }
}
@media  (max-width :300px){
    .home {
        justify-content: center;
    }
    .home-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

    }
    .home-content h1{
        font-size: 5rem;
    }
    .custom-icon-size a{
    
        display: block; 
        
    }
    .custom-icon-size img{
    
        width: 45px;
        height: auto;
        border-radius:50% ;
        display: inline;
        justify-content: space-between;
        background-color: #05161a;
        margin: 20px;
    }
    .home .home-content{
        margin-bottom: 3rem;
    }
}

/*hhhhhh*/






/*orinal copy css portfolio

/*@import url(https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,700);
/*@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css);
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'Poppins',sans-serif;
}
:root{
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color:var(--text-color);
    
}
header{
    position: fixed;
    top: o;
    left: 0;
    width: 100%;
    padding: 2rem 9%;

    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
.header.sticky {
    background: var(--second-bg-color);
}
a img{
    border-radius: 50%;
    height: 40px;
    font-size: 20px;


}

.navbar a{
    font-size: 1.9rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
    
}
.navbar a:hover,
.navbar a.active{
    color: rgb(5, 151, 161);
}
.navbar a.active i{
    align-items: center;
    color: rgb(212, 212, 214);
    font-size: 3rem;
    transition: .5s;
    
}
.navbar a.active i:hover{
    color: rgb(0, 0, 0);
    
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}
section{
    min-height: 100vh;
    padding: 9rem 9% 2rem;
}
.home{
    display: flex;
    align-items: center;
    padding: 0 9%;   
    background: url(jj.png);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: right;
    
    
}
.home-content{
    max-width: 60rem;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content .text-animated{
    position: relative;
    width: 32.8rem;
}
.home-content .text-animated h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px rgb(246, 21, 21);
}
.home-content p{
    font-size: 1.6rem;
    margin: 2rem 0 4rem;

}
btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}
.btn-box .btn{
    padding: 5px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--text-color);
    border: .2rem;
    border-radius: 1.2rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
}
.btn-box .btn::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .7s;
}
.btn-box .btn:hover::before {
    width: 100%;

}
.home-2{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
 .home-2 a{
    margin-right: 10px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    border-radius: none;
    color: var(--main-color);
 }
 /*   
    
 }
 .home-imghover{
    position: absolute;
    top:0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 3s;

 }
 .home-imghover:hover{
    background:var(--bg-color);
    opacity: .8;
 }
 
 .about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    
 }
 .heading{
    font-size: 5rem;
    text-align: center;
  span{
     color: rgb(246, 21, 21);
  }
 }
 .about-img{
   position: relative;
   width: 15rem;
   height: 15rem;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .about-img img{
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: .10rem solid var(--main-color);
 }
 .about-img img { 
    position: absolute;
    transition: (-50%, -50%) rotate(0);
    border-radius: 50%;
    border-top: .2rem solid  aqua;
    border-bottom: .4rem solid  rgb(248, 98, 5);
    border-left: .2rem solid var(--text-color);
    border-right: .2rem solid var(--text-color);
 }
.about-content{
  text-align: center;

}
.about-content h3{
    font-size: 2.6rem;

}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.btn-box.btns{
    display: inline-block;
    width: 15rem;
}
.btn-box.btns a::before{
    background: var(--second-bg-color);
}
.education{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding: 10rem;
}
 .education.education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
 }
 .education-row .education-column{
    flex: 1 1 40rem;
 }
 .education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
 }
.education-column .education-box{
    border-left: .2rem solid aqua;
}
.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}
/*design dot*
.education-box .education-content::before{
    content:'';
    position: absolute;
    top:0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background:aqua;
    border-radius: 50%;

}
.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid rgb(229, 12, 12);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
 .education-content .content::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(119, 5, 5);
    z-index: -1;  
    transition: .5s;
}
.education-content .content:hover::before{
    width: 100%;
}
.education-content .content .year i{
    padding-right: .5rem;
}
.education-content .content h3{
    font-size: 2rem;
}
.education-content .content p{
    font-size: 1rem;
    padding: .4rem;
    /*updating skillss*/

/*.skills{
    min-height: auto;
    padding-bottom:7rem;
    background: var(--bg-color);

}
.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

}
.skills-row .skills-column{
    flex: 1 1 40rem
}
.skills-column .title{
    font-size: 2.1rem;
    margin: 0 0 .5rem;

}
.skills-box .skills-content{
    position: relative;
    border: .2rem solid var(--text-color);
    border-radius: .6rem;
    padding: .5rem .5rem;
}
.skills-content .progress {
    padding: .5rem 0;

}
.skills-content .progress h3{
    font-size: .6rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress .h3 span{
  color: var(--text-color);
}
.skills-content .progress .bar{
    height: .4rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .4rem;
    margin: .4rem 0;
}
.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

/*CONTACT


.contact{
    min-height: auto;
    padding-bottom: auto;
   
}
.contact form{
    max-width: 70rem;
    margin: auto;
    text-align:center;

}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;

}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);

}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);
}
.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(7, 52, 77);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{

    width: 100%;
}
.contact form .textarea-field{

  position: relative;
  margin: .8rem 0 2.7rem;
  display: flex;

}
.contact form .textarea-field textarea{
    resize: none;

}
.contact form .btn-box.btns .btn{
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);

}
.footer-iconTop {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .9rem;
    background: var(--text-color);
    border-radius: .5rem;
    margin: 10px;

}
.Smedia a{
    position: relative;
    display: inline-flex;
    display: inline-flex;
    padding: .9rem;
    background: var(--text-color);
    border-radius: .5rem;
    float: right;
    margin: 10px;
}

/*querries   */




/* Desktops and laptops ----------- 
@media (max-width : 1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width : 991px)


{
.header{
    padding:2rem 4%;
}
section{
    padding: 10rem 4% 2rem;
}
.home{
    padding:0 4%;
}
.footer{
    padding: 2rem 4%;
}
}



@media (max-width : 768px) 
{
html{
font-size: 55%;

}
.header{
    background: var(--bg-color);
    padding:2rem 4%;
}
section{
    padding: 10rem 4% 2rem;
}
.home{
    padding:0 4%;
}
.footer{
    padding: 2rem 4%;
}
#menu-icon{
    display: block;
}
.navbar{
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background: var(--bg-color);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    z-index: 1;
    transition: .25s ease;
    transition-delay: .25s;
}
.navbar.active{
    left: 0;
    transition-delay: 0s;
}
.navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    transform: translateX(-20rem);

}
.navbar.active a{
    transform: translateX(0);
    transition:.25s ease ;
    transition-delay:0s ;
}
.navbar .active-nav{
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--second-bg-color);
  border-top:.1rem solid rgba(0, 0, 0, .2) ;
  z-index: -1;
  transition: .25% ease;
  transition-delay:0s ;
}
.navbar.active .active-nav{
    transition-delay: .25s;
    left: 0;
}
}
@media(max-width :520px)
{
html{
    font-size: 50%;
    height: 38px;
}
}
@media (max-width :462px)
{
.home-content{
    font-size: 5.2rem;
}
.education{
    padding: 10rem 4% 5rem 5%;
}
.contact form .input-box .input-field {
    width: 100%;

}

.footer{
    flex-direction: column-reverse;

}
.footer p{
    margin-top: 2rem;
}
}
@media  (max-width :371px){
    .home {
        justify-content: center;
    }
    .home-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

    }
    .home-content h1{
        font-size: 5rem;
    }
    .home .home-2{
    
        display: block;    
    }
    .home .home-content{
        margin-bottom: 3rem;
    }
}

/*hhhhhh*/